.root{
    background: rgb(187, 70, 109);
    padding: 130px;
    width: 50%;
    border-radius: 60px;
    display: inline-block;
    margin-top: 80px;
    height: 70%;

}
.tittle{
    font-size: 35px;
    color: white;
    font-weight: 700;
}
.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 22px;
    box-shadow: 1cm;
    color: rgb(74, 19, 44);
    margin-top: 25px;
}